/* Mengatur tampilan dasar seluruh halaman */
.profile-pic {
  width: 200px;       /* ukuran foto */
  height: 200px;
  border-radius: 50%; /* bikin bulat */
  object-fit: cover;  /* biar nggak gepeng */
  margin-bottom: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #c98895;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #b66878;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
/* Setiap section diberi jarak */
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background: #f8bbd0

  ;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Projek ditata */
.project {
  margin-bottom: 20px;
}

.project h3 {
  color: #000
;
}
h1, h2, h3 {
  font-weight: bold;     /* Tebal */
}

p {
  font-size: 16px;
  color: #3d3d3d;
}

em {
  font-style: italic;    /* Teks miring */
}

